body {
    background-color: #282B30;
    margin: 0;
}

.header {
    height: auto;
    width: 100%;
    background-color: #7289DA;
    display: table;
}

.name {
    padding: 0;
}

.BowsetteTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 15px 0px 5px 15px;
}

.subtext {
    margin: 5px 0px 15px 15px;
    padding: 0;
}

.BowsetteDesc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.menu {
    height: auto;
    width: 100%;
    background-color: #1E2124;
    display: table;
    margin: 0px;
}

.menubutton {
    margin: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}

.menubutton:hover {
    background-color: #FFFFFF;
    color: #1E2124;
}

.menubutton:active {
    border: 1px solid #7289DA;
    background-color: #7289DA;
    color: #FFFFFF;
}

.menutext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 2px 3px;
}

.sitebody {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: table;
}

.articles {
    background-color: #36393E;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    display: table;
}

.articlebox {
    background-color: #424549;
    width: auto;
    margin: 20px 20px;
    display: table;
    border-radius: 10px;
}

.titlebox {
    border-bottom: 1px solid #F8F9F9;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35;
    margin: 8px;
    color: #F8F9F9;
}

.textbody {
    margin: 10px;
    display: table;
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18;
    margin: 10px 30px;
    color: #F8F9F9;
    text-align: justify;
}

.quote {
    background-color: #424549;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18;
    margin: 15px 35px;
    color: #F8F9F9;
    border-left: 2px solid #F8F9F9;
    padding-left: 10px;
}

.section1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30;
    margin: 0 0 0 0;
    color: #F8F9F9;
}

.section2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26;
    margin: 0 0 0 15px;
    color: #F8F9F9;
}

::-webkit-scrollbar {
    width: 10px;
    border: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #7289DA;
    border-radius: 5px;
    border: 0;
}

::-webkit-scrollbar-track {
    background-color: #36393E;
}
