body {
    background-color: #2C2F33;
    margin: 0;
}

.header {
    height: auto;
    width: 100%;
    background-color: #7289DA;
    display: table;
}

.name {
    padding: 0;
}

.BowsetteTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 15px 0px 5px 15px;
}

.subtext {
    margin: 5px 0px 15px 15px;
    padding: 0;
}

.BowsetteDesc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.menu {
    height: auto;
    width: 100%;
    background-color: #23272A;
    display: table;
}

.menubutton {
    margin: 5px;
    padding: 0px 3px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    float: left;
    text-decoration: none;
}

.menubutton:hover {
    background-color: #FFFFFF;
    color: #23272A;
}

.menubutton:active {
    border: 1px solid #7289DA;
    background-color: #7289DA;
    color: #FFFFFF;
}

.menutext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 2px;
}

.articles {
    background-color: #FFFF00;
    height: 100%;
    width: 80%;
    margin: 30px 10%;
    border-radius: 10px;
    display: table;
}

.articlebox {
    margin: 10px;
}

.titlebox {

}

.title {

}

.textbody {

}

.paragraph {

}

.quote {

}

.section1 {

}

.section2 {

}

::-webkit-scrollbar {
    width: 10px;
    border: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #7289DA;
    border-radius: 5px;
    border: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}